/* Home page - basic styling throughout site */
body {
    background-color: rgb(228, 227, 227);
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Protest Strike';
}

h4 {
    color: blue;
    text-align: center;
    font-family: 'Protest Strike';
}

a {
    font-family: 'Protest Strike';
    color: rgb(238, 237, 237);
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;

}

a.general {
    font-family: 'Protest Strike';
    color: rgb(20, 18, 18);
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
}

/* Header formatting */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
img.header {
    height: 10em;
    width: 10em;
}

ul {
    color: white;
    font-size: 1.2em;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    border: 1em black solid;
}

/* Navagation bar */
nav.navbar {
    background-color: rgb(89, 93, 147);
    border: 1em solid rgb(254, 254, 254);

}

.nav-list {
    display: flex;
    list-style: none;
}

/* Link card formatting */
.card {
    border: 1em solid rgb(254, 254, 254);
}
.card:hover {
    background-color: green; /* Green */
    color: white;
    padding: 10px;
}


/* table formatting */
table {
    width: 100%;
    padding: 30px 30px 30px 30px;
    background: rgb(145, 154, 202);

}

tr:nth-child(odd) {
    background-color: rgb(127, 172, 249);
}

th, td {
    height: 25px;
    width: 15%;
}

table, th, td {
    border: 1px solid rgb(255, 253, 253);
    text-align: center;
    border-collapse: collapse;
    color: aliceblue;
}


/* Form formatting */
.fieldset {
    /* border-bottom: hidden;  */
    border-left: hidden; 
    border-right: hidden;
    color: antiquewhite;
    height: 300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submit {
    transition-duration: 0.4s;
}

.reset {
    transition-duration: 0.4s;
}

.reset:hover {
    background-color: red; /* Green */
    color: white;
    padding: 10px;
}


footer {
    justify-content: left;
    background-color: rgb(89, 93, 147);
    color: antiquewhite;
    border: 1em solid rgb(254, 254, 254);
    padding-left: 1em;

}


